/* src/pages/HomePage.css */

/* General styling for the homepage */
.homepage {
  display: flex;
  flex-direction: column;
  background-color:#c1eddab8;

}
.homepage.dark{
  background-color: rgba(65, 89, 88, 0.31);
  color: #ffffff;
}
.homepage.dark h1{
  color: #ffffff;
}
.homepage h1{
  font-size: 42px;
    font-weight: bold;
    margin-bottom: 40px;
    color: black; /* Use title color from theme */
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    transition: color 0.3s ease;
}
.homepage h1::after{
  content: '';
  display: block;
  width: 250px;
  height: 4px;
  background-color: var(--highlight-color); /* Use highlight color */
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 2px;
}

/* Hero Section with Background Image */
.homepage__hero {
  height: 70vh;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-image 0.6s ease-in-out; /* Smooth transition */
}

/* Overlay for the hero section */
.homepage__overlay {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); /* Gradient overlay */
  padding: 20px;
  border-radius: 10px;
}

/* Overlay text styling */
.homepage__overlay h2 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

/* Default Background Image for Light Mode */
.homepage.light .homepage__hero {
  background-image: url('https://images.unsplash.com/photo-1473448912268-2022ce9509d8?q=80&w=2041&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

/* Background Image for Dark Mode */
.homepage.dark .homepage__hero {
  background-image: url('https://images.unsplash.com/photo-1483982258113-b72862e6cff6?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

/* Title styling */
.homepage__title {
  text-align: center;
  font-size: 2.25rem; /* Scaled with rem for responsiveness */
  font-weight: 700;
  margin: 40px 0;
  color:black; /* Use title color from theme */
}





/* Responsive adjustments */
@media (max-width: 768px) {
  .homepage__hero h2 {
    font-size: 1.8rem; /* Adjust for smaller screens */
  }
}
