/* src/pages/MovieDetailPage.css */

/* Overall movie detail container */
.movie-detail-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background-color:aliceblue; /* Use theme color */
  transition: background-color 0.4s ease; /* Smooth transition */
}

/* Movie poster styling */
.movie-detail__poster img {
  width: 350px;
  height: 500px;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.movie-detail__poster img:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5);
}

/* Movie information styling */
.movie-detail__info {
  margin-top: 30px;
  text-align: center;
}

.movie-detail__info h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: black; /* Use title color from theme */
}

.movie-rating,
.movie-release,
.movie-description {
  font-size: 18px;
  margin-bottom: 15px;
  color: black; /* Use text color from theme */
}

.movie-rating {
  font-weight: bold;
  color: var(--highlight-color); /* Use highlight color */
}

/* Responsive design for mobile */
@media (max-width: 768px) {
  .movie-detail-page {
      padding: 20px;
  }

  .movie-detail__poster img {
      width: 100%;
      height: auto; /* Adjust height for responsiveness */
  }

  .movie-detail__info h1 {
      font-size: 28px; /* Adjust font size for smaller screens */
  }
}
