/* src/pages/MoviesPage.css */

/* Main container for the movies page */
.movies-page {
    padding: 40px;
    background-color: aliceblue; /* Use theme color */
    color: var(--text-color); /* Use theme color */
    transition: background-color 0.3s ease, color 0.3s ease;
    text-align: center;
    min-height: 100vh;
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center align items */
}

/* Title styling */
.movies-page h1 {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 40px;
    color: black; /* Use title color from theme */
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    transition: color 0.3s ease;
}
.movies-page.dark{
    background-color: rgba(65, 89, 88, 0.31);
}
.movies-page.dark h1{
    color: aliceblue;

}

/* Adding a fancy underline effect to the title */
.movies-page h1::after {
    content: '';
    display: block;
    width: 80px;
    height: 4px;
    background-color: var(--highlight-color); /* Use highlight color */
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 2px;
}

/* Responsive Design for smaller devices */
@media (max-width: 768px) {
    .movies-page {
        padding: 20px;
    }

    .movies-page h1 {
        font-size: 32px; /* Adjust font size for smaller screens */
    }
}
