/* src/components/Footer.css */

.footer  {
  bottom: 0;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px 30px;
  font-size: 14px;
  z-index: 999;
  background-color: #c1eddafc; /* Set primary background color */
  color: #0d0d0d; /* Set text color */
}
.footer.dark {
  background-color:  #0d0d0d; /* Consider setting a different background for dark mode */
color: #ffffff;
}
.footer__container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Make links responsive */
.footer a {
  color: inherit; /* Inherit color from parent */
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.3s;
}

.footer a:hover {
  color: var(--highlight-color); /* Highlight color on hover */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .footer {
    padding: 10px 20px; /* Adjust padding for smaller screens */
    font-size: 12px; /* Smaller font size */
  }

  .footer__container {
    flex-direction: column; /* Stack content vertically */
    align-items: flex-start; /* Align items to the start */
  }

  .footer__container p {
    margin: 5px 0; /* Add margin for spacing */
  }
}
