/* src/components/MovieDetail.css */

/* General styling for the movie detail container */
.movie-detail {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

/* Dark mode styling */
@media (prefers-color-scheme: dark) {
  .movie-detail {
    background-color: var(--secondary-color); /* Use secondary color for dark mode */
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.1);
  }
}

/* Styling for the movie poster */
.movie-detail__poster img {
  width: 300px;
  height: 450px;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.movie-detail__poster img:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}

/* Styling for the movie info */
.movie-detail__info {
  max-width: 600px;
  margin-left: 20px;
}

.movie-detail__info h1 {
  margin-bottom: 20px;
  font-size: 36px;
  color: var(--title-color); /* Use title color from theme */
}

/* Movie information details */
.movie-detail__info p {
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 1.6;
  color: var(--text-color); /* Use text color from theme */
}

.movie-detail__info p strong {
  font-weight: bold;
  color: var(--highlight-color); /* Use highlight color for strong text */
}

/* Dark mode styling for info */
@media (prefers-color-scheme: dark) {
  .movie-detail__info h1 {
    color: var(--title-color); /* Keep dark mode title color */
  }

  .movie-detail__info p {
    color: #cccccc; /* Keep dark mode color */
  }

  .movie-detail__info p strong {
    color: var(--highlight-color); /* Keep highlight color */
  }
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .movie-detail {
    flex-direction: column;
    align-items: center;
  }

  .movie-detail__poster img {
    margin-bottom: 20px;
  }
}
