/* src/App.css */

/* App.css */
.app.light {
  --bg-color: #ffffff; /* Main background for light mode */
  --text-color: #222222; /* Primary text color for light mode */
  --title-color: #111111; /* Title color for light mode */
  --highlight-color: #ffbc00; /* Highlight color for light mode */
}

.app.dark {
  --bg-color: #0d0d0d; /* Main background for dark mode */
  --text-color: #e0e0e0; /* Primary text color for dark mode */
  --title-color: #f4f4f4; /* Title color for dark mode */
  --highlight-color: #ffd700; /* Highlight color for dark mode */
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--bg-color); /* Set background color based on theme */
  color: var(--text-color); /* Set text color based on theme */
}

html, body {
  height: 100%;
}

/* Make footer responsive */
footer {
  flex-shrink: 0;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  body {
    font-size: 14px; /* Smaller font size for mobile */
  }
}

@media (max-width: 480px) {
  body {
    font-size: 12px; /* Even smaller font size for very small screens */
  }
}
