:root {
  /* Light mode colors */
  --primary-color: #ffffff; /* Main background */
  --secondary-color: #f7f7f7; /* Very Light Beige for cards/sections */
  --accent-color: #007bff; /* Button/Link Color */
  --text-color: #222222; /* Primary text color */
  --title-color: #111111; /* Title/Headings color */
  --highlight-color: #ffbc00; /* Highlights */
}

@media (prefers-color-scheme: dark) {
  :root {
      /* Dark mode colors */
      --primary-color: #0d0d0d; /* Main background */
      --secondary-color: #1a1a1a; /* Very Dark Gray for cards/sections */
      --accent-color: #1e90ff; /* Button/Link Color */
      --text-color: #e0e0e0; /* Primary text color */
      --title-color: #f4f4f4; /* Title/Headings color */
      --highlight-color: #ffd700; /* Highlights */
  }
}
